#flashWrapper{
    width: 100%;
    height: 600px;
    height: auto;
    background: linear-gradient(to left,#ffd7ab, #fbd7e8 );
    padding-bottom: 50px;
}
#topText{
    display: flex;
    justify-content: space-between;
    padding: 50px 28px;
}
#productWrapper{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
/* Media Query */

@media screen and (min-width: 576px) and (max-width: 768px) {
    #productWrapper{
        gap: 20px;     
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1399px) {
    #productWrapper{
        gap: 24px;     
    }
  }

  
  @media screen and (min-width: 768px) and (max-width: 992px) {
    #productWrapper{
        gap: 16px;     
    }
  }

  
  