#container{
    width: 100%;
    padding: 18px;
}
.topText{
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
}

/* Category section  */

.cateGoriesWrapper{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    overflow: hidden;
}