#bannerWrapper {
  width: 100%;
  height: auto;
  margin-top: 1%;
  padding: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.leftImg {
  width: 48%;
}
.leftImg img {
  width: 100%;
  border-radius: 2%;
  height: auto;
}
.rightImg {
  width: 48%;
}
.rightImg img {
  width: 100%;
  height: auto;
  border-radius: 2%;
}

/* Media Query */

@media screen and (min-width: 300px) and (max-width: 575px) {
  #bannerWrapper {
    flex-direction: column;
  }
  .leftImg {
    width: 100%;
    margin-bottom: 20px;
  }

  .rightImg {
    width: 100%;
  }
}
